app-scene-select {
  padding: 1rem;
  display: block;
}

app-scene-select ul {
  list-style-type: none;
  position: relative;
  height: 250px;
}

app-scene-select > ul > li {
  display: inline-block;
  float: left;
  background: #f00;
  margin: 1px;
  box-sizing: border-box;
  width: calc(25% - 2px);
  height: 33%;
}
