app-scene-select {
  padding: 1rem;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 250px;
}

app-scene-select,
app-scene-select label {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

app-scene-select ul {
  list-style-type: none;
  position: relative;
  height: 250px;
}

app-scene-select > ul > li {
  position: relative;
  cursor: pointer;
  display: inline-block;
  float: left;
  background: color(var(--color-darkish) alpha(0.5));
  background-position: 50% 50%;
  background-size: cover;
  margin: 1px;
  box-sizing: border-box;
  width: calc(25% - 2px);
  height: 33%;
  border: 1px solid var(--color-darkish);
  box-shadow: 1px 1px color(var(--color-darkest) alpha(0.25));
}

@media screen and (min-width: 1280px) {
  app-scene-select > ul > li {
    width: calc(20% - 2px);
  }
}
@media screen and (max-width: 1000px) {
  app-scene-select > ul > li {
    width: calc(33% - 2px);
  }
}

app-scene-select > ul > li label {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Fantasque Sans Mono', monospace;
  font-weight: 100;
  font-size: 0.7rem;
  text-shadow: 0 1px 1px #000;
  cursor: pointer;
  text-align: center;
  line-height: 1.15rem;
  color: #fff;
}

app-scene-select > ul > li:after {
  content: ' ';
  top: 0; bottom: 0; right: 0; left: 0;
  background: transparent;
  position: absolute;
  pointer-events: none;
}

app-scene-select > ul > li:hover:after {
  background: color(var(--color-lighter) alpha(0.2));
}
