app-sidebar {
  width: var(--layout-sidebar-width);
  position: relative;
}

app-sidebar[side='right'] {
  border-left: 1px solid var(--color-darkish);
  box-shadow: -1px 0 var(--color-darkest);
}

app-sidebar[side='left'] {
  border-right: 1px solid var(--color-darkest);
  box-shadow: +1px 0 var(--color-darkish);
}

app-sidebar .sidebar-preview-inner {
  position: relative;
  height: 100%; width: 100%;
}

app-sidebar .sidebar-preview {
  position: relative!important;
  height: var(--layout-preview-height);
  margin-bottom: 0;
}

app-sidebar .sidebar-interplay {
  overflow-y: auto;
  position: absolute;
  top: calc(var(--layout-preview-height));
  border-top: 1px solid var(--color-darkish);
  box-shadow: 0 -1px var(--color-darkest);
  bottom: 0;
  left: 0;
  right: 0;
}

app-sidebar .interplay-root {
  min-height: 0;
}
