@import 'app-styles/variables';

html {
  background: var(--color-darker);
  font-family: 'Fantasque Sans Mono', monospace;
}

input, select, textarea, option {
  font-family: 'Fantasque Sans Mono', monospace;
}

body {
  position: absolute;
  top: 0; left: 0; width: 100vw; height: 100vh;
  overflow: hidden;
}

@import './typicons';
@import 'app-midi';
@import 'app-main';
@import 'app-main-preview';
@import 'app-sidebar';
@import 'app-scene-select';
@import 'app-config';
@import 'app-display-client';
@import 'app-transition-manager';

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}
